[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[packages]
Flask = "*"
gunicorn = "*"
mongoengine = "*"
flask-mongoengine = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.6"
