[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
Flask = "*"
Jinja2 = "*"
werkzeug = "*"
gunicorn = "*"
mongoengine = "*"
flask-mongoengine = "*"
flask-jwt-extended = "*"
eventlet = "*"
flask-socketio = "*"
python-engineio = "*"
flask-cors = "*"
