[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[packages]
Flask = ">=1.0.2"
Jinja2 = ">=2.10.1"
werkzeug = ">=0.15.3"
gunicorn = "*"
mongoengine = "*"
flask-mongoengine = "*"
flask-jwt-extended = "*"
eventlet = "*"
flask-socketio = "*"
python-engineio = ">=3.9.0"
flask-cors = "*"
